h1{
    color: orangered;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}
#container{
    width: 1000px;
    height: 800px;
    border: 2px solid red;
    background-color: azure;
}
body,html{
  display: flex;
  justify-content: center;
  background-color: cadetblue;
}
#nav{
    text-align: center;
    border: 1px solid green;
}
.nav-list{
    list-style: none;
    display: inline;
    text-align: center;
    padding: 15px;
}
#header{
    border: 2px solid blue;
}
#content{
    border: 1px solid orange;
    height: 610px;
}
#footer{
    border: 1px solid purple;
}
.section-text{
    width: 750px;
    float: left ;
    padding-left: 10px;
}
img{    
    float: left;
    padding-left: 15px;
}
.section-header{
    padding-left: 10px;
}